*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'sega';
  src: url(./font/SEGA.TTF);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body{
  background-color:#062b59;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content : space-evenly;
  align-items: center;
 
}


h1{
font-size: 3rem;
margin-top: 10px;
font-family: 'sega',  sans-serif;
font-weight: 200;
    color: #0ccac4;
}

.md-form{
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item{
  
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
}


.box-item{

  /* background-color: #9eebcf; */
    width: 280px;
    height: 350px;

    transition: width 1s ease-out 200ms;
    transition: height 1s ease-out 200ms;

}

.box-item:hover {
  
    /* background-color: #9eebcf; */
      width: 300px;
      height: 370px;

      
  
  
}



h2{
  font-size: 1.5em;

  font-family:sans-serif;
  font-weight: bold;

}
.card{

  background-color: rgb(238, 218, 218);
}


